# gwon.my (절대 건드리지 않음)
gwon.my {
  handle /backend* {
    reverse_proxy gwon-backend-1:8080
  }

  handle /ws* {
    reverse_proxy gwon-backend-1:8080 {
      transport http {
        versions 1.1
      }
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }

  handle {
    reverse_proxy gwon-frontend-1:3000
  }
}

# move.io.kr
move.io.kr {
  encode zstd gzip
  # ✅ 1️⃣ WebSocket → Spring Boot 백엔드로
  handle /ws* {
    reverse_proxy move-backend-1:8080 {
      transport http {
        versions 1.1
      }
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }

  # ✅ 2️⃣ API 요청 → Spring Boot 백엔드로
  handle /backend* {
    reverse_proxy move-backend-1:8080
  }

  # ✅ 3️⃣ 정적 파일 (Vite build 결과)
    handle {
      root * /srv/move
      file_server
      rewrite * /index.html
   }


}

# leegeonyeong.sites
leegeonyeong.site {
  handle /backend* {
    reverse_proxy geon-backend-1:8080
  }

  handle /ws* {
    reverse_proxy geon-backend-1:8080 {
      transport http {
        versions 1.1
      }
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }

  handle {
    reverse_proxy geon-frontend-1:3000
  }
}