# gwon.my (절대 건드리지 않음)
gwon.my {
  handle /backend* {
    reverse_proxy backend:8080
  }

  handle /ws* {
    reverse_proxy backend:8080 {
      transport http {
        versions 1.1
      }
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }

  handle {
    reverse_proxy frontend:3000
  }
}

# move.io.kr
move.io.kr {
  root * /srv/move
  file_server
  encode zstd gzip

  handle /backend* {
    reverse_proxy backend:8080
  }

  handle /ws* {
    reverse_proxy backend:8080 {
      transport http {
        versions 1.1
      }
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }
}

# leegeonyeong.site
leegeonyeong.site {
  handle /backend* {
    reverse_proxy backend:8082
  }

  handle /ws* {
    reverse_proxy backend:8082 {
      transport http {
        versions 1.1
      }
      header_up Connection {>Connection}
      header_up Upgrade {>Upgrade}
    }
  }

  handle {
    reverse_proxy frontend:3002
  }
}