services:
  osrm:
    image: osrm/osrm-backend
    container_name: gwon-osrm
    ports:
      - "5000:5000"
    volumes:
      - /home/gwon/osrm-data:/data
    command: osrm-routed --algorithm mld /data/south-korea-latest.osrm
    networks:
      - global_network


  caddy:
    restart: always
    image: caddy:alpine
    container_name : gwon-caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - global_network

  backend:
    restart: always
    container_name : gwon-backend
    build: ./backend
    # ✅ [핵심 1] 실행 순서 설정 (DB랑 모기(MQTT)가 켜져야 나도 켜진다)
    depends_on:
      - db
      - mosquitto
    environment:
      - DB_HOST=gwon-mysql
      - MQTT_BROKER=tcp://gwon-mosquitto:1883
      # ✅ [핵심 2] 아까 그 Access Denied 해결하는 치트키 (강제 주입)
      - SPRING_DATASOURCE_URL=jdbc:mysql://gwon-mysql:3306/gwon?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    networks:
      - global_network

  frontend:
    restart: always
    container_name : gwon-frontend
    build: ./frontend
    networks:
      - global_network

  mosquitto:
    restart: always
    container_name : gwon-mosquitto
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - global_network

  db:
    restart: always
    container_name : gwon-mysql
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: gwon
      MYSQL_USER: gwon
      MYSQL_DATABASE: gwon
      MYSQL_PASSWORD: gwon
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - global_network

volumes:
  caddy_data:
  caddy_config:
  db_data:

networks:
  global_network:
    external: true